.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-navbar-interactive {
  width: 1849px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-end;
}
.home-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-text {
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.home-text01 {
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.home-link {
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-register {
  font-family: Poppins;
}
.home-burger-menu {
  display: none;
}
.home-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-logo {
  height: 2rem;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-login {
  margin-right: var(--dl-space-space-twounits);
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  width: 1811px;
  height: 391px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-container1 {
  width: 1836px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-image1 {
  width: 301px;
  height: 301px;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
.home-text07 {
  font-size: 60px;
  align-self: center;
  font-family: Metropolis Black Italic;
  padding-left: var(--dl-space-space-twounits);
}
.home-section1 {
  width: 1797px;
  height: 534px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.home-container2 {
  flex: 0 0 auto;
  width: 1014px;
  height: 493px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text12 {
  font-size: 50px;
  font-family: Metropolis Black;
  margin-bottom: var(--dl-space-space-threeunits);
}
.home-text13 {
  font-size: 32px;
  text-align: center;
  font-family: Poppins;
}
.home-link1 {
  font-size: 28px;
  margin-top: var(--dl-space-space-twounits);
  font-family: Poppins;
  text-decoration: underline;
}
.home-section2 {
  width: 100%;
  height: 725px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-container3 {
  width: 743px;
  height: 464px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.home-iframe {
  width: 752px;
  height: 459px;
  align-self: center;
}
.home-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-image2 {
  width: 200px;
  object-fit: cover;
}
.home-image3 {
  width: 200px;
  object-fit: cover;
}
.home-image4 {
  width: 200px;
  object-fit: cover;
}
.home-image5 {
  width: 200px;
  object-fit: cover;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.home-container6 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-image6 {
  width: 200px;
  object-fit: cover;
}
.home-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon10 {
  width: 200px;
  object-fit: cover;
}
.home-icon11 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon13 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1200px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-container1 {
    width: 1200px;
    height: 388px;
  }
  .home-text07 {
    font-size: 50px;
  }
  .home-section1 {
    height: 399px;
  }
  .home-container2 {
    width: 903px;
    height: 220px;
  }
  .home-text13 {
    font-size: 18px;
  }
}
@media(max-width: 991px) {
  .home-icon {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-hero {
    height: 435px;
  }
  .home-container1 {
    width: 991px;
    height: 326px;
    align-items: center;
    justify-content: center;
  }
  .home-image1 {
    width: 237px;
    height: 237px;
  }
  .home-text07 {
    font-size: 45px;
  }
  .home-container2 {
    width: 692px;
    height: 168px;
  }
  .home-text12 {
    font-size: 50px;
  }
  .home-text13 {
    font-size: 14px;
  }
  .home-section2 {
    height: 495px;
  }
  .home-container3 {
    height: 462px;
  }
  .home-iframe {
    width: 610px;
    height: 362px;
  }
  .home-text14 {
    font-size: 40px;
  }
  .home-container5 {
    width: 850px;
    height: 284px;
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 77px;
    height: 77px;
  }
  .home-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .home-icon {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
  }
  .home-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-hero {
    align-self: center;
  }
  .home-container1 {
    width: 767px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-image1 {
    width: 182px;
    height: 184px;
  }
  .home-text07 {
    font-size: 40px;
    font-family: Metropolis Black Italic;
  }
  .home-container4 {
    height: 464px;
  }
  .home-container5 {
    width: 609px;
    height: 203px;
    align-self: center;
  }
  .home-image2 {
    width: 150px;
  }
  .home-image3 {
    width: 150px;
  }
  .home-image4 {
    width: 150px;
  }
  .home-image5 {
    width: 150px;
  }
  .home-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text15 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 390px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    height: 555px;
  }
  .home-container1 {
    width: 461px;
    height: 628px;
    margin-bottom: 0px;
  }
  .home-image1 {
    top: 144px;
    left: 98px;
    width: 273px;
    height: 309px;
    margin: auto;
    position: absolute;
    align-self: center;
    margin-bottom: auto;
  }
  .home-text07 {
    top: 469px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    text-align: center;
    padding-left: 0px;
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-text15 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
