.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page-navbar-interactive {
  width: 1920px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sixunits);
  padding-right: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-end;
}
.page-image {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.page-desktop-menu {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
}
.page-links {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.page-text {
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.page-text01 {
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
}
.page-link {
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-register {
  font-family: Poppins;
}
.page-burger-menu {
  display: none;
}
.page-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page-logo {
  height: 2rem;
}
.page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page-text02 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.page-buttons1 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-login {
  margin-right: var(--dl-space-space-twounits);
}
.page-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page-container01 {
  width: 100%;
  height: 554px;
  display: flex;
  align-items: flex-start;
  background-image: linear-gradient(to top, #9d9d9d, #b5b5b5, #cdcdcd, #e6e6e6, #ffffff);
}
.page-container02 {
  width: 100%;
  height: 535px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.page-image1 {
  width: 301px;
  height: 301px;
  align-self: center;
  object-fit: cover;
  align-items: center;
}
.page-text07 {
  font-size: 60px;
  align-self: center;
  font-family: Metropolis Black Italic;
  padding-left: var(--dl-space-space-twounits);
}
.page-section1 {
  width: 100%;
  height: 633px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-new1-blue);
}
.page-container03 {
  flex: 0 0 auto;
  width: 1140px;
  height: 493px;
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-text12 {
  color: #ffffff;
  font-size: 50px;
  font-family: Metropolis Black;
  margin-bottom: var(--dl-space-space-threeunits);
}
.page-text13 {
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  font-family: Poppins;
}
.page-link1 {
  color: #ffffff;
  font-size: 28px;
  margin-top: var(--dl-space-space-twounits);
  font-family: Poppins;
  text-decoration: underline;
}
.page-container04 {
  width: 100%;
  height: 754px;
  display: flex;
  align-items: flex-start;
}
.page-container05 {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page-iframe {
  width: 879px;
  height: 510px;
  align-self: center;
}
.page-container06 {
  width: 100%;
  height: 631px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page-container07 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-new1-blue);
}
.page-text14 {
  color: #ffffff;
  font-size: 55px;
  font-style: normal;
  margin-top: var(--dl-space-space-fourunits);
  font-family: Poppins;
  font-weight: 600;
}
.page-container08 {
  width: 1396px;
  height: 412px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-between;
}
.page-image2 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
}
.page-image3 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
}
.page-image4 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
}
.page-image5 {
  width: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: var(--dl-radius-radius-round);
  justify-content: space-between;
}
.page-footer {
  width: var(--dl-size-size-maxwidth);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.page-container09 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.page-image6 {
  width: 101px;
  height: 101px;
  object-fit: cover;
}
.page-nav1 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.page-text15 {
  margin-left: 0px;
}
.page-text16 {
  margin-left: var(--dl-space-space-unit);
}
.page-text17 {
  margin-left: var(--dl-space-space-unit);
}
.page-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.page-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page-image7 {
  width: 39px;
  height: 39px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.page-icon10 {
  width: 60px;
  height: 36px;
  margin-right: var(--dl-space-space-twounits);
}
.page-icon12 {
  width: 40px;
  height: 37px;
}
@media(max-width: 1600px) {
  .page-navbar-interactive {
    width: 1600px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
  }
  .page-text13 {
    font-style: normal;
    font-weight: 300;
  }
  .page-text14 {
    margin-top: var(--dl-space-space-twounits);
  }
  .page-container08 {
    width: 990px;
    height: 404px;
  }
  .page-image2 {
    width: var(--dl-size-size-xlarge);
  }
  .page-image3 {
    width: var(--dl-size-size-xlarge);
  }
  .page-image4 {
    width: var(--dl-size-size-xlarge);
  }
  .page-image5 {
    width: var(--dl-size-size-xlarge);
  }
  .page-footer {
    width: 100%;
  }
}
@media(max-width: 1200px) {
  .page-navbar-interactive {
    width: 1136px;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
    justify-content: flex-start;
  }
  .page-image {
    align-self: flex-end;
  }
  .page-container01 {
    height: 387px;
  }
  .page-container02 {
    width: 1200px;
    height: 388px;
  }
  .page-text07 {
    font-size: 55px;
  }
  .page-section1 {
    height: 399px;
  }
  .page-container03 {
    width: 903px;
    height: 220px;
  }
  .page-text12 {
    font-size: 40px;
  }
  .page-text13 {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .page-link1 {
    font-size: 14px;
  }
  .page-container04 {
    height: 709px;
    padding-bottom: 0px;
  }
  .page-container05 {
    width: 100%;
    height: 783px;
  }
  .page-iframe {
    width: 948px;
    height: 597px;
  }
  .page-container06 {
    height: 445px;
  }
  .page-container07 {
    height: 570px;
  }
  .page-container08 {
    width: 769px;
    height: 319px;
  }
  .page-image2 {
    width: var(--dl-size-size-large);
  }
  .page-image3 {
    width: var(--dl-size-size-large);
  }
  .page-image4 {
    width: var(--dl-size-size-large);
  }
  .page-image5 {
    width: var(--dl-size-size-large);
  }
  .page-footer {
    width: 100%;
  }
}
@media(max-width: 991px) {
  .page-navbar-interactive {
    width: 802px;
    position: relative;
    margin-right: 0px;
  }
  .page-desktop-menu {
    display: none;
  }
  .page-burger-menu {
    display: flex;
  }
  .page-icon {
    top: 0px;
    right: var(--dl-space-space-sixunits);
    width: var(--dl-size-size-small);
    bottom: 0px;
    height: var(--dl-size-size-small);
    margin: auto;
    position: absolute;
  }
  .page-container02 {
    width: 991px;
    height: 326px;
    align-items: center;
    justify-content: center;
  }
  .page-image1 {
    width: 237px;
    height: 237px;
  }
  .page-text07 {
    font-size: 45px;
  }
  .page-container03 {
    width: 692px;
    height: 168px;
  }
  .page-text12 {
    font-size: 50px;
  }
  .page-text13 {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
  }
  .page-container05 {
    width: 991px;
    height: 100%;
  }
  .page-iframe {
    width: 895px;
    height: 501px;
    margin-right: 0px;
  }
  .page-text14 {
    font-size: 40px;
  }
  .page-container08 {
    width: 675px;
    height: 272px;
  }
}
@media(max-width: 767px) {
  .page-navbar-interactive {
    width: 767px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-image {
    width: 77px;
    height: 77px;
  }
  .page-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .page-icon {
    width: var(--dl-size-size-medium);
    height: var(--dl-size-size-small);
  }
  .page-text02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text03 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text04 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text05 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-text06 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .page-container02 {
    width: 767px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .page-image1 {
    width: 182px;
    height: 184px;
  }
  .page-text07 {
    font-size: 40px;
    font-family: Metropolis Black Italic;
  }
  .page-container04 {
    height: 626px;
    align-items: center;
    justify-content: center;
  }
  .page-container05 {
    width: 764px;
    height: 661px;
    align-self: flex-start;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
  }
  .page-iframe {
    width: 767px;
    height: 472px;
    align-self: center;
    margin-top: 0px;
    margin-right: 0px;
  }
  .page-container07 {
    height: 464px;
  }
  .page-container08 {
    width: 609px;
    height: 203px;
    align-self: center;
  }
  .page-image2 {
    width: 150px;
  }
  .page-image3 {
    width: 150px;
  }
  .page-image4 {
    width: 150px;
  }
  .page-image5 {
    width: 150px;
  }
  .page-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .page-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-text18 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 390px) {
  .page-navbar-interactive {
    width: 327px;
    padding: var(--dl-space-space-unit);
  }
  .page-icon {
    right: 0px;
  }
  .page-mobile-menu {
    padding: 16px;
  }
  .page-container01 {
    height: 528px;
  }
  .page-container02 {
    width: 479px;
    height: 469px;
    margin-bottom: 0px;
  }
  .page-image1 {
    top: 144px;
    left: 0px;
    right: 0px;
    width: 221px;
    height: 250px;
    margin: auto;
    position: absolute;
    align-self: center;
    margin-bottom: auto;
  }
  .page-text07 {
    top: 469px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    font-size: 26px;
    text-align: center;
    padding-left: 0px;
  }
  .page-container03 {
    width: 302px;
    height: 373px;
  }
  .page-text12 {
    font-size: 26px;
  }
  .page-container05 {
    height: 494px;
  }
  .page-iframe {
    width: 390px;
    height: 320px;
    align-items: center;
    margin-right: 0px;
    align-content: center;
  }
  .page-container06 {
    height: 1128px;
  }
  .page-container07 {
    height: 1172px;
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
    justify-content: flex-start;
  }
  .page-text14 {
    margin-top: 0px;
    text-align: center;
  }
  .page-container08 {
    height: 824px;
    margin-top: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .page-footer {
    padding: var(--dl-space-space-unit);
  }
  .page-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .page-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .page-text18 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
